.navbar-nav{
    width: 100% !important  ;
}
.font-aws{
color:white

}

.taille{
font-size: 28px !important;
}
.couleur{
    color:green

}


.couleur-h{
    color:red
}
.rouge{
    color:red !important;
}